# Standard backup extension
*.bak

# Temporary files ending in ~ (common in Linux editors like nano/gedit)
*~

# Vim swap files
*.swp

# macOS system files
.DS_Store

# macOS hidden files
._*

# Internal Agent Configuration
.agent/
.claude/
CLAUDE.md

# test video files
.testfiles

# Python cache files
__pycache__

# Linear API configuration
.linear/

# internal project docs
.project_files/
